/*!==========================================================================
   #CT.CSS
   ========================================================================== */

/*!
 * ct.css – Let’s take a look inside your <head>…
 *
 * © Harry Roberts 2021 – twitter.com/csswizardry
 */





/**
 * It’s slightly easier to remember topics than it is colours. Set up some
 * custom properties for use later on.
 */

html {
  --ct-blocking: solid;
  --ct-blocked: dashed;
  --ct-notify: green;
  --ct-warn: orange;
  --ct-error: red;
}





/**
 * Show the <head> and set up the items we might be interested in.
 */

head,
head script,
head style, head [rel="stylesheet"],
head [rel="dns-prefetch"] {
  display: block;
}

head script,
head style, head [rel="stylesheet"],
head [rel="dns-prefetch"],
head title {
  margin: 5px;
  border-width: 5px;
  background-color: white;
  color: black;
}

head ::before,
head script, head style {
  font: 16px/1.5 monospace, monospace;
  display: block;
}

head ::before {
  font-weight: bold;
}





/**
 * External Script and Style
 */

head script[src],
head link[rel="stylesheet"] {
  border-style: var(--ct-blocking);
  border-color: var(--ct-warn);
}

  head script[src]::before {
    content: "[Blocking Script – " attr(src) "]"
  }

  head link[rel="stylesheet"]::before {
    content: "[Blocking Stylesheet – " attr(href) "]"
  }





/**
 * Inline Script and Style.
 */

head style:not(:empty),
head script:not(:empty) {
  max-height: 5em;
  overflow: auto;
  white-space: pre;
  border-color: var(--ct-notify);
  border-style: var(--ct-blocking);
}

  head script:not(:empty)::before {
    content: "[Inline Script] ";
  }

  head style:not(:empty)::before {
    content: "[Inline Style] ";
  }





/**
 * Blocked Title.
 *
 * These selectors are generally more complex because the Key Selector (`title`)
 * depends on the specific conditions of preceding JS--we can’t cast a wide net
 * and narrow it down later as we can when targeting script and style elements.
 */

head script[src]:not([async]):not([defer]):not([type=module]) ~ title,
head script:not(:empty) ~ title {
  display: block;
  border-style: var(--ct-blocked);
  border-color: var(--ct-error);
}

  head script[src]:not([async]):not([defer]):not([type=module]) ~ title::before,
  head script:not(:empty) ~ title::before {
    content: "[<title> blocked by JS] ";
  }





/**
 * Blocked Scripts.
 */

head [rel="stylesheet"] ~ script,
head style:not(:empty) ~ script {
  border-style: var(--ct-blocked);
  border-color: var(--ct-warn);
}

  head [rel="stylesheet"] ~ script::before,
  head style:not(:empty) ~ script::before {
    content: "[JS blocked by CSS – " attr(src) "]";
  }





/**
 * Third Party blocking resources.
 *
 * Expect false-positives here… it’s a crude proxy at best.
 */

head script[src][src^="//"],
head script[src][src^="http"],
head [rel="stylesheet"][href^="//"],
head [rel="stylesheet"][href^="http"] {
  border-style: var(--ct-blocking);
  border-color: var(--ct-error);
}

  head script[src][src^="//"]::before,
  head script[src][src^="http"]::before {
    content: "[Third Party Blocking Script – " attr(src) "]";
  }

  head [rel="stylesheet"][href^="//"]::before,
  head [rel="stylesheet"][href^="http"]::before {
    content: "[Third Party Blocking Stylesheet – " attr(href) "]";
  }





/**
 * DNS-Prefetching is old school.
 */

head [rel="dns-prefetch"] {
  border-style: var(--ct-blocking);
  border-color: var(--ct-warn);
}

head [rel="dns-prefetch"]::before {
  content: "[Legacy dns-prefetch – " attr(href) "]";
}





/**
 * Hide all irrelevant or non-matching scripts and styles (including ct.css).
 *
 * We’re done!
 */

link[rel="stylesheet"].ct, style.ct,
script[async], script[defer], script[type=module] {
  display: none !important
}
